body{
	background-image: url('bg3.jpg');
	margin-left: 45px;
	margin-bottom: 100px;
	margin-right: 45px;
	background-attachment: fixed;
	background-size: cover;
}

h1{
	color:#95389e;
	width: 350px;
	margin:auto;
	text-align: center;
	border-bottom: groove;
	border-bottom-width: 10px;
	border-color: white;
	font-family: courier;
	font-size: 2.5em;
	
}

li{
	color:#43d8c9;
	font-family:Ink Free;
	font-size:1.3em;
	list-style-image: url('axe.png');
}

h2{
	color:#95389e;
	font-size:2em;
}

p{
	color:white;
	font-size: 1.5em;
	margin: auto;
	width:500px;
	text-align: center;
}

img{
	max-height: 400px;
	width: auto;
	top: 0;	
	position: sticky;
	border-radius: 40px;
	float: right;
		padding: 10px;
}

.abdul:hover{
	border:dotted;
	color:red;
}

.girish:hover{
	border:dotted;
	color:red;
}

.kavin:hover{
	border:dotted;
	color:red;
}

.prasaanth:hover{
	border:dotted;
	color:red;
}

.rahul:hover{
	border:dotted;
	color: red;
}

.box{
	border: dotted;
	border-color: #fcbf1e;
	margin: 20px;
	width: 500px;
	height: 450px;
}

.box1{
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
}

img:hover {
	display:none;
}

